/* html {
    font-size: 14px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

#main {
    width: 100%;
    height: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('./background_images/Background_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


h1 {
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 32px auto 32px auto;
}

h2 {
    margin: 72px 32px 72px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

#navbar {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#web-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30.4px;
    line-height: 37px;
    color: #FFFFFF;
}

.menu-list {
    display: none
}

#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4.25px;
}

.title-center {
    margin: 200px 32px auto 32px;
}

.title-white-rectangle {
    width: 90px;
    height: 15px;
    background: #FFFFFF;
}

.title-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.title-learn-more {
    width: 153px;
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-cards-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 32px 0 32px;
    gap: 0px;
}

.blog-card {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; */
}

.blog-card-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blog-card-image>img {
    object-fit: cover;
    border-radius: 4px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    /* height: auto; */
    position: relative;
    z-index: 2;
}

.blog-card-body {
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 32px;
    top: -30px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

.blog-card-date {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #B7B7B7;
    margin-top: 32px;
}

.blog-card-title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 28px;
    flex-grow: 1;
}

.blog-card-link {
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #D9852C;
    margin-top: 18px;
}

/* Tablet (sm) */
@media screen and (min-width:576px) {

    /* CSS rules for screens with a minimum width of 576px */
    #main {
        width: 100%;
        height: 1024px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('./background_images/Background_tablet.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-description {
        width: 85%;
    }

    h1 {
        font-family: 'Libre Caslon Display';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 87px;
        color: #FFFFFF;
    }

    h2 {
        margin: 82px 72px 56px 72px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
    }

    .blog-cards-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .blog-card {
        max-width: 33%;
    }

    .blog-card-image>img {
        height: 352px;
    }

    .blog-card-body {
        height: 400px;
    }

    .blog-card-title {
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-top: 28px;
    }
}

/* Desktop (md) */
@media screen and (min-width:768px) {

    /* CSS rules for screens with a minimum width of 768px */


    #main {
        width: 100%;
        height: 1024px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('./background_images/Background_desktop.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-center {
        margin: 200px auto auto 72px;
        width: 80%
    }

    .title-description {
        width: 75%;
    }

    h1 {
        font-family: 'Libre Caslon Display';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 85px;
        color: #FFFFFF;
    }

    h2 {
        margin: 82px 72px 44px 72px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #000000;
    }

    .blog-cards-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap: 20px;
        justify-content: center;
        margin: 0 72px 0 72px;
    }

    .blog-card-image>img {
        height: 352px;
    }

    .blog-card-body {
        height: 350px;
    }

    .blog-card-date {
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #B7B7B7;
        margin-top: 32px;
    }

    .blog-card-title {
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        margin-top: 26px;
    }
}

/* Large Desktop (lrg) */
@media screen and (min-width:992px) {

    .title-center {
        margin: 200px auto auto 72px;
        width: 50%
    }

    .title-description {
        width: 70%;
    }

    #hamburger {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 35px;

    }

    .menu-list-item {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    .get-started-box {

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        width: 150px;
        height: 42px;
        position: relative;
        top: -10px;
    }

    .blog-card-body {
        height: 400px;
    }

    .blog-card-title {
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
        margin-top: 26px;
    }
}